:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--primary);
  color: rgb(0, 0, 179);
  border: 1px solid var(--primary);
}
.btn--outline {
  background-color: transparent;
  color: var(--primary);
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.4s ease-out;
}
.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}
.btn--large {
  padding: 12px 25px;
  font-size: 20px;
}
.btn--mobile {
  text-align: center;
  border-radius: 4px;
  width: 100%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--primary);
  padding: 14px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}
.btn--wide {
  font-size: 20px;
  padding: 12px 64px;
}
.btn--large:hover,
.btn--medium:hover,
.btn--mobile:hover {
  transition: all 0.3s ease-out;
  background: var(--primary);
  color: #242424;
}
.btn--wide:hover {
  color: var(--primary);
  background-color: rgb(181, 50, 241);
  transition: all 0.3s ease-out;
}

.red {
  background-color: brown;
  color: var(--primary);
  border: none;
}
.blue {
  background-color: rgb(118, 132, 255);
  color: var(--primary);
  border: none;
}
.green {
  background-color: rgb(0, 94, 0);
  color: var(--primary);
  border: none;
}
.green:hover {
  background-color: #242424;
}
.primary {
  background-color: #242424;
  color: var(--primary);
  border: none;
}
.primary:hover {
  background-color: var(--primary);
  color: #242424;
  border: none;
}
